
.ccm-bugtrackerMwe .bugs-overview {
    min-width: 600px;
    float: left;
    clear: right;
    display: table;
    background-color: white;
    border: 2px solid #36f0fe;
    padding: 0.5em;
}

.ccm-bugtrackerMwe .bug,
.ccm-bugtrackerMwe .header{
    display: table-row;
    width: 100%;
}

.ccm-bugtrackerMwe .bug > *,
.ccm-bugtrackerMwe .header > *{
    font-family: sans-serif;
    display: table-cell;
    padding: 0.2em 1em 0.2em 1em;
}

.ccm-bugtrackerMwe .current-status-header:hover{
    color: #7b7b7b;
    cursor: pointer;
}

.ccm-bugtrackerMwe .header{
    text-align: center;
    text-decoration: underline;
}

.ccm-bugtrackerMwe .bug:nth-child(even){
    background-color: #d5fcfe;
}

.ccm-bugtrackerMwe .bug-id{
    width: 2em;
    border-right: 1px solid grey;
}

.ccm-bugtrackerMwe .name {
    width: 15%;
    font-weight: bold;
    border-right: 1px solid grey;
}

.ccm-bugtrackerMwe .current-status {
    width: 3em;
    border-right: 1px solid grey;
}


.ccm-bugtrackerMwe .subscriber {
    border-right: 1px solid grey;
}

.ccm-bugtrackerMwe .description{
}

