
.ccm-bugtracker-mwe .bugs-overview {
    float: left;
    clear: right;
    background-color: white;
    border: 2px solid black;
    padding: 0.5em;
}

.ccm-bugtracker-mwe .bug{
    float: left;
    clear: left;
}


.ccm-bugtracker-mwe .bug > *, 
.ccm-bugtracker-mwe .header > *{
    float: left;
    padding: 0.1em 1em 0.1em 1em;
}

.ccm-bugtracker-mwe .bug:nth-child(even)
{
    background-color: #d5fcfe;
}

.ccm-bugtracker-mwe .bug-id{
    min-width: 2em;
    border-right: 1px solid grey;
}

.ccm-bugtracker-mwe .name {
    font-weight: bold;
    border-right: 1px solid grey;
}

.ccm-bugtracker-mwe .current-status {
    border-right: 1px solid grey;
}


.ccm-bugtracker-mwe .subscriber {
    border-right: 1px solid grey;
}

.ccm-bugtracker-mwe .description{
    clear: right;
}

